<?xml version="1.0" encoding="utf-8"?>
   <plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
       <label lang="de">Paypal ESD Checker deaktivieren</label>
       <label lang="en">Deactivate Paypal ESD Checker</label>

       <version>1.0.0</version>
       <copyright>(c) by Karim Al Badawi</copyright>
       <license>MIT</license>
       <link>https://store.shopware.com/en</link>
       <author>Karim Al Badawi</author>
       <compatibility minVersion="5.3.0"/>

       <changelog version="1.0.0">
           <changes lang="de">Erstveröffentlichung. Das Plugin hat die einzige Funktion, die Service EsdProductChecker vom SwagPaymentPaypalUnified Plugin zu deaktivieren, damit Paypal Express Checkout für ESD Produkte freigegeben wird.</changes>
           <changes lang="en">First release. The plugins only purpose is to deactivate the EsdProductChecker service from the SwagPaymentPaypalUnified plugin in order to activate Paypal express checkout for ESD products.</changes>
       </changelog>

    <requiredPlugins>
        <requiredPlugin pluginName="SwagPaymentPayPalUnified" minVersion="3.2.0"/>
    </requiredPlugins>

   </plugin>